@model IEnumerable<Niqiu.Core.Domain.Questions.QuestionStrategy>

@{
    ViewBag.Title = "购买提示";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .glnumbl{margin-bottom: 1rem;}
    .glnumbl input{width: 100%;}
</style>
<div id="buy-info" class="page">
    @Html.Partial("m_header")
    <div class="content wdcontent">
        <div class="list-block contact-list" style="margin-top: 0;">
            <div class="tstitle">谜题：@ViewBag.Question.Title</div>
            @{
                var first=false;
            }
            @foreach (var item in Model)
            {
                        @*<li>
                            <input type="radio" name="1" />
                            <label for="@item.SystemName">@item.Name</label>
                            <div class="pull-right">@item.Price.ToString("c")</div>
                        </li>*@
                if (!first)
                {
                    <div class="tsbl selected" data-key="@item.Id" data-qid="@ViewBag.Question.Id" data-b="@ViewBag.B" data-price="@item.Price" id="@item.SystemName">
                        <div class="tsbll">
                            <a><span>&nbsp;</span></a>
                            <span class="fl">@item.Name：</span>
                        </div>
                        <div class="tsblr"><span>元</span><span class="num tscur">@item.Price</span></div>
                    </div>
                    first = true;
                }
                else
                {
                    if (item.SystemName != "KeyWord" || ViewBag.HasKeyword)
                    {
                        // if ((item.SystemName == "Answer" && !ViewBag.ShowYY)){ continue;}
                        <div class="tsbl" data-key="@item.Id" data-qid="@ViewBag.Question.Id" data-b="@ViewBag.B" data-price="@item.Price" id="@item.SystemName">
                            <div class="tsbll">
                                <a><span class="none">&nbsp;</span></a>
                                <span class="fl">@item.Name：</span>
                            </div>
                            <div class="tsblr"><span>元</span><span class="num">@item.Price</span></div>
                        </div>
                    }
                }
            }
           
        </div>
        <div class="bottom2">
            <a href="#" id="strategybt" data-q="@ViewBag.Question.Id" data-e="@ViewBag.isEmptyPwd" class="tsbtn">确认支付</a>
        </div>
         
    </div>
</div>
 