@model IEnumerable<Niqiu.Core.Domain.Questions.Question>

@foreach (var item in Model.Where(n=>n.RewardUsers.Count<=n.RewardPeopleNum))
{
    <div class="mtboxbl">
        <div class="mtboxtop">
            @*评论*@
            <a href="@Url.Action("Detail",new{id=item.Id})" class="mtboxtopl">
                <span><img src="/images/mtico.png">@item.CommentNum</span>
            </a>
            <div class="mtboxtopr">
                <span>悬赏金额</span>
                <p class="moneyc">@Math.Ceiling(item.Reward)<sub>元</sub></p>
                <div><span>悬赏名额</span> <span class="num">@item.RewardPeopleNum</span></div>
            </div>
            <a class="mtboxtopl mtboxtopl1">
                <span><img src="/images/mtico1.png">@item.PraisesNum</span>
            </a>
        </div>
        <a href="@Url.Action("Detail",new{id=item.Id})" class="mtboximg">
            <img src="@item.ImageUrl">
            <span>@item.Title</span>
        </a>
    </div>
}
