@{
    ViewBag.Title = "购买提示返现处理";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@using Niqiu.Core.Domain.Payments
@using Niqiu.Core.Helpers
@model IEnumerable<Portal.MVC.Areas.Admin.Models.OrderQuestion>

@Html.Partial("_adminMap")
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>@ViewBag.Title</h5>

        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th>订单ID</th>
                        <th>类型</th>
                        <th>状态</th>
                        <th>是否已经返现</th>
                        <th>返现订单号</th>
                        <th>对应谜题ID</th>
                        <th>谜题</th>
                        <th>谜题悬赏</th>
                        <th>谜题悬赏人数</th>
                        <th>用户购买策略类型</th>
                        <th>金额</th>
                        <th>购买用户</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="">@item.Order.Id</a></td>
                            <td>@Html.EnumToText(item.Order.OrderType)</td>
                            <td>@Html.EnumToText(item.Order.OrderState)</td>
                            <td>@item.Order.IsPayBack</td>
                            <td>@item.Order.QuestionStrategyOrderId</td>
                            <td>@item.Order.QuestionId</td>
                            <td><a href="@Url.Action("Detail","Qs",new{id=item.Order.QuestionId})">@item.Question.Title</a></td>
                            <td>@item.Question.Reward</td>
                            <td>@item.Question.RewardPeopleNum</td>
                            <td>@item.QuestionStrategy.SystemName</td>
                            <td>@item.Order.Amount</td>
                            <td>@item.User.Username</td>
                            <td>
                                @if (item.Order.IsPayBack)
                                {
                                    <span>已返现</span>
                                }
                                else
                                {
                                    <a data-qid="@item.Question.Id" data-oid="@item.Order.Id" class="backreward btn btn-danger">执行返现</a>
                                }
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="14">总记录:@Model.Count()  </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script src="~/Content/Matrix_Admin/js/jquery.uniform.js"></script>
<script src="~/Content/Matrix_Admin/js/select2.min.js"></script>
<script src="~/Content/Matrix_Admin/js/jquery.dataTables.min.js"></script>
<script src="~/Content/Matrix_Admin/js/matrix.tables.js"></script>
<script>
    
    $(".backreward").click(function() {
        var qid = $(this).data("qid");
        var oid = $(this).data("oid");
        var $td = $(this).parent();
        $.post('@Url.Action("PayRewardBackAction")',{questionId:qid,orderId:oid}, function(data) {
            if (data.IsSuccess == true) {
                success();
                $td.html("已返现!");
            } else {
                error(data.Message);
            }
        });
    })

</script>