@{
    ViewBag.Title = "添加角色";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@Html.Partial("_adminMap")
@model Portal.MVC.ViewModel.RoleModel
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>@ViewBag.Title</h5>

        </div>
        <div class="widget-content nopadding">
            <form class="form-horizontal" method="POST" name="basic_validate" id="basic_validate" novalidate="novalidate" action="@Url.Action("AddRole")">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(n => n.RoleId)
                @Html.Partial("info")
                <div class="row text-center " style="margin-top: 20px">角色名称:@Html.TextBoxFor(n => Model.RoleName)</div>
                <div>@Html.ValidationMessageFor(model => model.RoleName)</div>
                <div>角色权限</div>
                <table class="table table-bordered">
                    <thead>
                        <tr><th>序号</th><th>页面名称</th><th>是否启用</th></tr>
                    </thead>
                        @for (var i = 0; i < Model.PermissionRecordModels.Count; i++)
                        {
                             <tr>
                            <td>
                                <span>@(i+1)</span>
                                @Html.HiddenFor(n => Model.PermissionRecordModels[i].Id)
                            </td>
                            <td>
                                @Html.DisplayTextFor(n => Model.PermissionRecordModels[i].PermissionRecordName)
                                @Html.HiddenFor(n => Model.PermissionRecordModels[i].PermissionRecordName)
                            </td>
                            <td>
                                @Html.CheckBoxFor(n => Model.PermissionRecordModels[i].Selected)
                            </td>
                        </tr>
                        }
                       
                    

                </table>
                <div class="form-actions">
                    <input type="submit" value="提交" class=" btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
