@{
    ViewBag.Title = "角色列表";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@model IEnumerable<Niqiu.Core.Domain.User.UserRole>
@Html.Partial("_adminMap")
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>@ViewBag.Title</h5>

        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>角色名称</th>
                        <th>系统名称</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.SystemName</td>
                            <td>@item.SimpleTime()</td>
                            <td>
                                <a href="@Url.Action("EditRole",new{id=item.Id})" data-id="@item.Id">编辑</a>
                                @if (!item.IsSystemRole)
                                {
                                    <a data-id="@item.Id" class="deleta">删除</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8">总记录:@Model.Count()</td>
                    </tr>
                </tfoot>
            </table>



        </div>
    </div>
</div>
<script>
    
    $(".deleta").click(function() {
        admin.deleteItem($(this), '@Url.Action("Delete")');
    })

</script>