@model Portal.MVC.ViewModel.ChangePasswordModel

@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/maccount.css" rel="stylesheet" />
<div class="container">
    <div class="content bg2">
        <div class="loginbox">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Partial("info")
                <h3 class="title">修改密码</h3>
                <div class="conbox">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "请输入密码" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="conbox">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = "请输入新密码" })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
                <div class="conbox">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "请在数一次新密码" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>

                <p>
                   <input type="submit" class="input6" />
                </p>
            }

        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
