@model Portal.MVC.ViewModel.MLogonModel

@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
<style>
    .inputbox input[type='checkbox'] {
        width: 1rem;height: 1rem;line-height: 1rem;margin-right: 10px;
    }
</style>
<div class="page" id="login">
    <div class="logbg">
        <div class="logtitle">登录好油菜</div>
        <div class="inputbox">
            <input type="tel" id="tel" placeholder="输入注册手机号码"  onfocus="if (value =='输入注册手机号码'){value =''; this.style.color='#505050'}" onblur="if (value ==''){value='输入注册手机号码'; this.style.color='#c5cdb0'}">
            <input type="text" id="pwd" placeholder="请输入密码" onfocus="if(this.value==defaultValue) {this.value='';this.type='password'; this.style.color='#505050';}" onblur="if(!value) {value=defaultValue; this.type='text'; this.style.color='#c5cdb0';}">
            <div>
                <label><input type="checkbox" />记住我</label>
            </div>
            <div style="height: 2rem;">
                <a href="@Url.Action("ForgetPwd")" class="forgpwd">忘记密码</a>
                <a href="@Url.Action("MRegister")" class="forgpwd" style="float: left;">注册</a>
            </div>
        </div>
        <input type="submit" id="logonbt" class="logbtn logbtn1" value="确认登录"/>
    </div>
    <div class="btmbg"></div>
</div>
<script>
    var pathname = location.href;
    var repath = "/";
    if (pathname.indexOf("returnUrl") > -1) {
        repath = pathname.split('returnUrl=')[1];
    }
    console.log(pathname,repath);
    $(document).on("click", "#logonbt", function () {
        var name = $("#tel").val();
        var pwd = $("#pwd").val();
        if (!name|| !pwd) {
            $.toast("请输入用户名和密码");
            return;
        }
        var isreme = $(".inputbox input[type='checkbox']").is(":checked");
        $.post('@Url.Action("LogonJson")', { mobile: name, password: pwd, isreme: isreme }, function (res) {
            if (res === 1) {
                location.href = repath;
            } else {
                $.toast(res);
            }
        });
    })

</script>



@*<div class="container">
    <div class="content bg2">
        <div class="loginbox">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.Partial("info")
                <div class="conbox user">
                    <img src="/css/images/user_25.png" />
                    @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", placeholder = "请输入手机号" })
                    @Html.ValidationMessageFor(model => model.Mobile)
                </div>
                <div class="conbox pwd">
                    <img src="/css/images/lock_25.png" />
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "请输入密码" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <p class="info">
                    @Html.ValidationSummary(true)
                </p>
                <p>
                    <input type="submit" value="登录" class="loginbt" />
                </p>
                <p class="link">
                    <a style="" href="@Url.Action("MRegister")">没有账号,去绑定</a>
                </p>
            }
        </div>

    </div>
</div>

<script src="~/js/jquery-1.11.3.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@