@model Portal.MVC.ViewModel.MRegisterModel

@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .inputbox input, .regnum input[type="tel"] {
        font-size: .9rem;
    }
    .yzmbox .inputbox input{width:96%;}
    .regyzm{margin: 0 auto;}
</style>
<div class="page" id="register">
    <div class="logbg" >
        <div class="logtitle">注册好油菜</div>
        <div class="regnum">
            <input type="tel" id="regtel" placeholder="输入你的手机号码" onfocus="if (value =='输入你的手机号码'||value =='手机号码位数不对'){value =''; this.style.color='#505050'}" onblur="if (value ==''){value='输入你的手机号码'; this.style.color='#c5cdb0'}">
            <input type="button" id="getvcode" value="获取验证码" readonly>
        </div>
        <div class="regyzm">
            <p>输入你手机收到的4位验证码</p>
            <div class="yzmbox">
                <div class="inputbox">
                    <input type="number" />
                </div>
            </div>
            @*<input  type="number">
        <input type="number">
        <input type="number">
        <input type="number" class="marg0">*@
        </div>
        <div class="inputbox">
            <input type="text" id="name" placeholder="输入昵称" onfocus="if (value =='输入昵称'){value =''; this.style.color='#505050'}" onblur="if (value ==''){value='输入昵称'; this.style.color='#c5cdb0'}">
            <input type="text" id="regpwd" placeholder="输入6-12位数字和字母密码" onfocus="if(this.value==defaultValue) {this.value='';this.type='password'; this.style.color='#505050';}" onblur="if(!value) {value=defaultValue; this.type='text'; this.style.color='#c5cdb0';}">
            <input type="text" id="crep" placeholder="再次输入上面的密码" onfocus="if(this.value==defaultValue) {this.value='';this.type='password'; this.style.color='#505050';}" onblur="if(!value) {value=defaultValue; this.type='text'; this.style.color='#c5cdb0';}">
        </div>
        <input type="submit" id="registerbt" class="logbtn logbtn1" value="确认注册">
    </div>
    <div class="btmbg"></div>

</div>

<script>
    var pathname = location.href;
    var repath = "/";
    if (pathname.indexOf("returnUrl") > -1) {
        repath = pathname.split('returnUrl=')[1];
    }
    console.log(pathname,repath);
    $(document).on("click", "#registerbt", function () {
        var mobile = $("#regtel").val();
        var name = $("#name").val();
        var pwd = $("#regpwd").val();
        var cpwd = $("#crep").val();
      //  var code = $(".yzmbox input").eq(0).val() + $(".yzmbox input").eq(1).val() + $(".yzmbox input").eq(2).val() + $(".yzmbox input").eq(3).val();
        var code = $(".yzmbox input").eq(0).val();
        if (!mobile) {
            $.toast("请输入手机号码");
            return;
        }
        if (!name|| !pwd) {
            $.toast("请输入用户名和密码");
            return;
        }
        if (pwd != cpwd) {
            $.toast("两次输入密码不一致");
            return;
        }
        console.log("code",code);
        $.post('@Url.Action("RegisterJson")', { mobile: mobile, name: name, password: pwd, compassword: cpwd ,code:code}, function (res) {
            if (res === 1) {
                $.toast("注册成功");
                setTimeout(function() {
                    location.href = repath;
                }, 1000);

            } else {
                $.toast(res);
            }
        });
    })

</script>

@*<div class="page page-current">
    @Html.Partial("m_header")
    <div class="content content-padded">
        <div class="list-block">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Partial("info")
                
                <div class="conbox">
                    @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", placeholder = "手机" })
                    @Html.ValidationMessageFor(model => model.Mobile)
                </div>
                <div class="conbox">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "昵称" })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
                <div class="conbox">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "请输入密码" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="conbox">
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "请输入密码" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
               
                <p>
                    <input type="submit" value="提交" class="button button-fill button-danger button-big" />
                </p>
                <p class="link"><a href="@Url.Action("MLogon")">登录</a></p>
            }

        </div>
    </div>
</div>
<script src="~/js/jquery-1.11.3.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@