@model Niqiu.Core.Domain.Questions.Question

@{
    ViewBag.Title = "我要出题(2/2)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="chuti2" class="page page-current">
    @Html.Partial("m_header")
    @Html.Partial("m_footer")

    <div class="content">

        <div class="cttibox" style="width: 100%">
            <div class="cttiblock" style="padding-top: .5rem;">
                <a><img id="tempimg" src="@Model.ImageUrl"></a>
                <div class="cttibl">
                    <div class="item-input">
                        <input type="text" id="question" value="@Model.Title" placeholder="编辑谜题问题     (30字以内)">
                    </div>
                </div>
            </div>
            <div class="cttiblock">
                <div class="cttibl">
                    <div class="item-input">
                        <input type="text" id="anwser" value="@Model.Answer" placeholder="编辑谜题答案      (30字以内)">
                    </div>
                </div>
            </div>
            <div class="cttibl" style="display: none">
                <div contenteditable="true" id="info" placeholder="编辑答案的提示说明 (可不填)" class="cttstxt1 needsclick">@Model.Tip</div>
            </div>
        </div>
        <h2 class="ctxqti">悬赏金额</h2>
        <div class="ctxqje">
            <div class="ctjebl"><a id="onemoney" class="">1</a></div>
            <div class="ctjebl"><a class="">5</a></div>
            <div class="ctjebl"><a class="ctjecur">10</a></div>
            <div class="ctjebl"><a>20</a></div>
            <div class="ctjebl"><a>50</a></div>
            <div class="ctjebl"><a>100</a></div>
        </div>
        <div class="ctjeqt">
            <p style="display: block;">其他金额</p>
            <div class="ctqttxt" style="display: none;"><input type="number" id="money" value="200"  placeholder="200"><span>元</span></div>
        </div>
      
        <h2 class="ctxqti">悬赏方式</h2>
        <div class="ctxqbox">
            <a class="ctxqxs onlyone" data-key="1">一位获得</a><a class="ctxqxs xqxscur" data-key="0">多人平均</a><a class="ctxqxs margr" data-key="2">多人递减</a>
        </div>
        <h2 id="renshu" class="ctxqti">悬赏人数
            <a id="zidingyi" style="float: right;margin-right: 5px;color: gray">自定义</a>
        </h2>
        <div id="peoplenum" class=" ctxqbox">
            <div class="tsbll ctxqbl selected">
                <a><span>&nbsp;</span></a>
                <span>10</span>
            </div>
            <div class="tsbll ctxqbl ctxqbl1">
                <a><span class="none">&nbsp;</span></a>
                <span>15</span>
            </div>
            <div class="tsbll ctxqbl ctxqbl1">
                <a><span class="none">&nbsp;</span></a>
                <span>20</span>
            </div>
            <div class="tsbll ctxqbl ctxqbl1 ">
                <a><span class="none">&nbsp;</span></a>
                <span>25</span>
            </div>
            <div class="tsbll ctxqbl ctxqbl1">
                <a><span class="none">&nbsp;</span></a>
                <span>30</span>
            </div>
            <div class="tsbll ctxqbl ctxqbl1">
                <a><span class="none">&nbsp;</span></a>
                <span>40</span>
            </div>
            <input id="ziinput" style="display: none" type="number" pattern="[0-9]*" value="50" min="10" max="999" />
        </div>
        <h2 class="ctxqti">竞猜时间</h2>
        <div class="ctxqbox">
            <div class="ctxqsj selected" data-key="6">
                <a><span>&nbsp;</span></a>
                <span class="fl">6<span>小时</span></span>
            </div>
            <div class="ctxqsj" data-key="24">
                <a><span class="none">&nbsp;</span></a>
                <span class="fl">24<span>小时</span></span>
            </div>
            <div class="ctxqsj" data-key="72">
                <a><span class="none">&nbsp;</span></a>
                <span class="fl">3<span>天</span></span>
            </div>
            <div class="ctxqsj" data-key="168">
                <a><span class="none">&nbsp;</span></a>
                <span class="fl">7<span>天</span></span>
            </div>
            <div class="ctxqsj" data-key="720">
                <a><span class="none">&nbsp;</span></a>
                <span class="fl">1<span>个月</span></span>
            </div>
        </div>
        @Html.HiddenFor(n => n.ImageUrl)
        @Html.HiddenFor(n => n.Id)
        @Html.HiddenFor(n => n.RemanidReward)
        <p><a href="#" id="cqs2" class="button button-big button-fill " style="background: #bfd6a8">下一步</a></p>

    </div>
</div>
<script>
    var str = '@Model.ImageUrl';
    @*$.post('@Url.Action("GetCacheQuestion")', { imgstr: str }, function (data) {
        console.log("GetCacheQuestion",data);
        if (data !== false) {

            //说明有数据
            $("#question").val(data.title);
            $("#anwser").val(data.answer);
            $("#info").html(data.tip).removeAttr("placeholder");
            switch (data.reward) {
                case 1:
                    $(".ctjebl").eq(0).click();
                break;
                case 5:
                    $(".ctjebl").eq(1).click();
                    break;
                case 10:
                    $(".ctjebl").eq(2).click();
                    break;
                case 20:
                    $(".ctjebl").eq(3).click();
                    break;
                default:
                    $("#money").val(data.reward);
                    $(".ctqttxt").click();
            }

            switch (data.rtype) {
                case 0:
                    $(".onlyone").click();
                    break;
                case 1:
                    $(".ctxqxs").eq(1).click();
                    break;
                case 2:
                    $(".ctxqxs").eq(2).click();
                    break;
            default:
            }
            switch (data.num) {
                case 10:
                    $(".tsbll").click();
                    break;
                case 15:
                    $(".tsbll").eq(1).click();
                    break;
                case 20:
                    $(".tsbll").eq(2).click();
                    break;
                case 25:
                    $(".tsbll").eq(3).click();
                    break;
                case 30:
                    $(".tsbll").eq(4).click();
                    break;
                case 40:
                    $(".tsbll").eq(5).click();
                    break;
                default:
                    $("#ziinput").val(data.reward);
                    $("#ziinput").show();
            }
        }
    });*@


    setInterval(function () {
        if ($(".page-current")[0] && $(".page-current")[0].id != "chuti2") return;
        var titleReady = false;
        var answerReady = false;
        var moneyReady = false;
        var peopleReady = false;

        var title = $.trim($("#question").val());
        if (title && title.length <= 30) {
            titleReady = true;
        }
        var anwser = $.trim($("#anwser").val());
        if (anwser && anwser.length <= 30) {
            answerReady = true;
        }
        var info = $("#info").html();
        if (info.length > 0) {
            $("#info").removeAttr("placeholder");
        } else {
            $("#info").attr("placeholder", "编辑答案的提示说明   (可不填)");
        }

        var inputNum = parseInt($("#ziinput").val());
        if ($("#ziinput").css("display") == "inline-block") {
            if (inputNum < 1000 && inputNum >= 10) {
                peopleReady = true;
            } else {
                peopleReady = false;
            }

        } else {
            peopleReady = true;
        }
       
        var m = parseFloat($("#money").val());
      
        if ($(".ctjebl .ctjecur").length > 0 || m >= 1&&m<1000) {
            moneyReady = true;
        }

        if (titleReady && answerReady  && moneyReady&&peopleReady) {
            $("#cqs2").addClass("active");
        }

    }, 500);
</script>