@{
    ViewBag.Title = "确认发布";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Niqiu.Core.Helpers
@model Niqiu.Core.Domain.Questions.Question
<div id="chuti3" class="page page-current">
    @Html.Partial("m_header")
    @Html.Partial("m_footer")
    <div class="content">
        <div class="ctzfbox">
            <a><img src="@Model.ImageUrl"></a>
            <a class="zfleft fl zfwidth">
                <p>谜题：</p>
                <span>@Model.Title</span>
            </a>
        </div>
        <div class="ctzfbox">
            <a class="zfleft1 anwser">
                <span class="info">答案：</span>
                @if (Model.IsResend)
                {
                    <span  >******</span>
                }
                else
                {
                    <span  >@Model.Answer</span>
                }
            </a>
        </div>
        @*<div class="ctzfbox" >
                <a class="zfleft1">
                    <span class="info">语意提示：</span>
                    <span>@Model.Tip</span>
                </a>
            </div>*@
        <div class="ctzfbox">
            <a class="zfleft1">
                <span class="info">悬赏金额：</span>
                <span  ><span>@Model.Reward</span><sub>元</sub></span>
            </a>
        </div>
        <div class="ctzfbox">
            <a class="zfleft1">
                <span class="info">悬赏人数：</span>
                <span  ><span>@Model.RewardPeopleNum</span><sub>人</sub></span>
            </a>
        </div>
        <div class="ctzfbox">
            <a class="zfleft1">
                <span class="info">悬赏方式：</span>
                <span>@Html.EnumToTextFor(n => Model.RewardType)</span>
            </a>
        </div>

        <input type="button" data-money="@Model.Reward" value="确认支付" data-yue="@ViewBag.B" class="zfbtn" />
        <script>
            @*var key = '@ViewBag.ReSend';
            if (!key) {
                alert(key);
                $(".ctzfbox").click(function () {
                    location.href = '@Url.Action("Edit")';
                });
            }*@


        </script>

        @*@if (Model.Id == 0)
            {
                <input type="button" data-money="@Model.Reward" value="确认支付" data-yue="@ViewBag.B" class="zfbtn" />
            }
            @if (Model.Id != 0 && Model.Reward >= Model.RemanidReward)
            {
                var gap = Model.Reward - Model.RemanidReward;
                <input type="button" data-money="@Model.Reward" value="确认支付" data-yue="@ViewBag.B" class="zfbtn" />
                if (gap > 0)
                {
                    <div data-gap="@gap" class="zfbtm">需要补充悬赏金额<span>@gap</span>元</div>
                }
            }
            @if (Model.Id != 0 && Model.Reward < Model.RemanidReward)
            {
                var gap = Model.RemanidReward - Model.Reward;
                <input type="button" data-money="@Model.Reward" data-yue="@ViewBag.B" value="确认支付" class="zfbtn zfbtn1" />
                if (gap > 0)
                {
                    <div class="zfbtm">您多余的悬赏金额<span>@gap</span>元将退回账户余额</div>
                }
            }*@
    </div>
</div>
