@{
    ViewBag.Title = "管理员列表";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@Html.Partial("_adminMap")
@model IEnumerable<Niqiu.Core.Domain.User.User>
     <div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>@ViewBag.Title</h5>

        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>名称</th>
                        <th>角色</th>
                        <th>邮箱</th>
                        <th>电话</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var i = 1;}
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.Username</td>
                            <td>@item.UserRoles.Aggregate((""), (current, r) => current + (r.Name + ","))</td>
                            <td>@item.Email</td>
                            <td>@item.Mobile</td>
                            <td><a href="@Url.Action("EditAdmin", new { id = item.Id })">编辑</a></td>
                            <td><a class="deleta" data-id="@item.Id">移除角色</a></td>
                        </tr>
                        
                        i++;
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8">总记录:@Model.Count()</td>
                    </tr>
                </tfoot>
            </table>



        </div>
    </div>
</div>      

<script>

    $(".deleta").click(function() {
        admin.deleteItem($(this), '@Url.Action("DeleteAdmin")');
    })

</script>