@{
    ViewBag.Title = "编辑管理员";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@Html.Partial("_adminMap")
@model  Portal.MVC.ViewModel.EditAdminModel

<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>@ViewBag.Title</h5>

        </div>
        <div class="widget-content nopadding">
            <form class="form-horizontal" method="POST" name="basic_validate" id="basic_validate" novalidate="novalidate" action="@Url.Action("EditAdmin")">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Partial("info")

                <div class="editor-label">
                    @Html.LabelFor(model => model.UserName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Password)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.ComfirmPassword)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ComfirmPassword)
                    @Html.ValidationMessageFor(model => model.ComfirmPassword)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Mobile)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Mobile)
                    @Html.ValidationMessageFor(model => model.Mobile)
                </div><div class="editor-label">
                    @Html.LabelFor(model => model.RoleId)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.RoleId, ViewBag.S as SelectList)
                    @Html.ValidationMessageFor(model => model.RoleId)
                </div>
                <div class="form-actions">
                    <input type="submit" value="提交" class=" btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}