@model Niqiu.Core.Domain.User.User

@{
    ViewBag.Title = "编辑用户";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@Html.Partial("_adminMap")
<style>
    .imgbox img{max-width: 100px;max-height: 100px;}
</style>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info-sign"></i></span>
                    <h5>@ViewBag.Title</h5>
                </div>
                <div class="widget-content nopadding">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Id)
                        @Html.Partial("info")
                        <div class="editor-label">
                            用户名:
                        </div>
                        <div class="editor-field">
                            @Model.Username
                        </div>
                        <div class="editor-field imgbox">
                            <img src="@Model.ImgUrl"/>
                        </div>

                        <div class="editor-label">
                            邮箱:
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>

                        <div class="editor-label">
                            手机:
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Mobile)
                            @Html.ValidationMessageFor(model => model.Mobile)
                        </div>
                        <div class="editor-label">
                            真实姓名:
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.RealName)
                            @Html.ValidationMessageFor(model => model.RealName)
                        </div>
                        <div class="editor-label">
                            微信号:
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.WeiXinId)
                            @Html.ValidationMessageFor(model => model.WeiXinId)
                        </div>

                        <div class="editor-field">

                            <input type="submit" class="btn btn-success" value="保存" />
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
