@{
    ViewBag.Title = "参与的问题";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@model IEnumerable<Niqiu.Core.Domain.Questions.Question>
@Html.Partial("_adminMap")

<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>@ViewBag.Title</h5>

        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>题目</th>
                        <th>作者</th>
                        <th>谜题状态</th>
                        <th>发布时间</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td>@item.User.Username</td>
                            <td>@if (item.IsFinished)
                                {
                                    <span>已关闭</span>
                                }
                                else
                                {
                                    <span>进行中</span>
                                }</td>
                            <td>
                              @item.CreateTime
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">总记录:@Model.Count()</td>
                    </tr>
                </tfoot>
            </table>



        </div>
    </div>
</div>
<script>
    admin.setActive("manage");
    $(".deleta").click(function() {
        admin.deleteItem($(this), '@Url.Action("Delete")', "确定删除?");
    });

</script>

<script src="~/Content/Matrix_Admin/js/jquery.uniform.js"></script>
<script src="~/Content/Matrix_Admin/js/select2.min.js"></script>
<script src="~/Content/Matrix_Admin/js/jquery.dataTables.min.js"></script>
<script src="~/Content/Matrix_Admin/js/matrix.tables.js"></script>