@using Portal.MVC.ViewModel
@model IEnumerable<Niqiu.Core.Domain.User.School>

@{
    ViewBag.Title = "学院";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@Html.Partial("contentHeader", new ContentHeaderLink { Url = Url.Action("Schools", "User"), Name = ViewBag.Title })
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>@ViewBag.Title</h5>
            <div class="pull-right">
                <a href="@Url.Action("CreateSchool","User")" class="btn btn-default">新增</a>
            </div>
        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="title-checkbox" name="title-checkbox" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateTime)
                        </th>
                        <th>
                            编辑
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" data-id="@item.Id" />
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateTime)
                            </td>
                            <td><a href="@Url.Action("EditSchool",new{id=item.Id})">编辑</a></td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <button id="dbt" class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script>
    admin.setActive("usermanage");
    $("#dbt").click(function () {
        var cks = $("table input:checkbox:checked");
        admin.deleteItems(cks, '@Url.Action("DeleteSchool")', "确定删除这些学院");
    });
</script>

<script src="~/Content/Matrix_Admin/js/jquery.uniform.js"></script>
<script src="~/Content/Matrix_Admin/js/select2.min.js"></script>
<script src="~/Content/Matrix_Admin/js/jquery.dataTables.min.js"></script>
<script src="~/Content/Matrix_Admin/js/matrix.tables.js"></script>
