@model Niqiu.Core.Domain.IPagedList<Niqiu.Core.Domain.User.User>

 @foreach (var u in Model)
{
    <tr>
        <td><input type="checkbox" data-id="@u.Id" /></td>
        <td>@u.SchoolNumber</td>
        <td>@u.SchoolName</td>
        <td>@u.RealName</td>
        <td>@u.Username</td>
        <td>@u.Mobile</td>
        <td>@u.UserRoles.Aggregate((""), (current, r) => current + (r.Name + ","))</td>
        <td>@u.ModifyTime</td>
        <td><a href="@Url.Action("Edit","User",new{id=u.Id})">编辑</a></td>
    </tr>
}
<input type="hidden" id="totle" value="@Model.TotalPages" />
