@model IEnumerable<Niqiu.Core.Domain.User.Firend>

@{
    ViewBag.Title = "好友管理";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@Html.Partial("_adminMap")

<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>@ViewBag.Title</h5>

        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="title-checkbox" name="title-checkbox" />全选</th>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>@item.Id</td>
                            <td>@item.FirendName</td>
                            <td>@item.SimpleTime()</td>
                            <td>
                                <a href="#" class="deleta" data-id="@item.Id">删除</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">总记录:@Model.Count()</td>
                    </tr>
                </tfoot>
            </table>


          
        </div>
    </div>
</div>
<script>
    $(".deleta").click(function() {
        admin.deleteItem($(this), '@Url.Action("Delete")', "确定删除?");
    });

</script>

<script src="~/Content/Matrix_Admin/js/jquery.uniform.js"></script>
<script src="~/Content/Matrix_Admin/js/select2.min.js"></script>
<script src="~/Content/Matrix_Admin/js/jquery.dataTables.min.js"></script>
<script src="~/Content/Matrix_Admin/js/matrix.tables.js"></script>
