@{
    ViewBag.Title = "详细资料";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model UserDetail

<style>
    a{color: #333;}
    .hyxqbtn{position:static;display: block}
</style>
<div id="firends" class="page ">
    @Html.Partial("m_header")
    @Html.Partial("m_footer")
    <div class="content">
        <div class="questione detail">
            <div class="header">
                <img src="@Model.User.ImgUrl" alt="@Model.User.Username" />
            </div>
            <span>@Model.User.Username</span>
            @*<button id="attentionbt" data-key="@Model.User.Id" class="button fr">取消关注</button>*@
            <div id="attentionbt"  data-key="@Model.User.Id" class="cancelten pull-right">取消关注</div>

        </div>
        <p class="content-padded">他的发布</p>
        @foreach (var item in Model.Questions)
        {
            <div class="card questione">
                <div class="card-header no-border">
                    <div class="ques">
                        <div class="smallgray">问题描述</div>
                        <div><a href="@Url.Action("Detail","Home",new{id=item.Id})">@item.Title</a></div>
                    </div>
                    <div class="reward">
                        <img src="~/images/u61.png" />
                        <div class="smallgray">悬赏</div>
                    </div>
                    <div>@item.Reward.ToString("c")</div>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <p>
                            <a href="@Url.Action("Detail", "Home", new { id = item.Id })">
                                <img src="@item.ImageUrl" />
                            </a>
                        </p>
                    </div>
                </div>
                
            </div>
        }
        <div class="bottombtwarp">
            <a href="@Url.Action("Chat", "Messages", new { touserid=Model.User.Id})" class="hyxqbtn">发消息</a>
        </div>
    </div>
    
    
</div>