@{
    ViewBag.Title = "我的账单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
    @Html.Partial("m_header")
    <div class="content">
        <div class="zdtop">所有</div>
        @*<a class="zdlist zdmar">
            <div class="zdlitop">
                <span class="zdtxt">[悬赏金额]</span>
                <span class="num"><span>¥</span>14.80</span>
            </div>
            <div class="zdcon">狗狗的名字是什么</div>
            <div class="zdtime">今日&nbsp;<span>15:48</span></div>
        </a>*@
         @Html.Action("AllList")
     
        @*<div class="list-block">
            <ul class="setul mylist">
                <li class="item-content">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                        <div class="item-title ">
                            <img class="u26" src="~/images/u38.png" />
                            <a href="@Url.Action("RechargeList")">充值记录</a>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                        <div class="item-title">
                            <img class="u26" src="~/images/u32.png" />
                            <a href="@Url.Action("GetRewardList")">获得悬赏记录</a>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                        <div class="item-title">
                            <img class="u26" src="~/images/u34.png" />
                            <a href="@Url.Action("PayRewardList")">我发布的悬赏被领取的记录</a>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                        <div class="item-title">
                            <img class="u26" src="~/images/u36.png" />
                            <a href="@Url.Action("ToCashList")">提现记录</a>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                        <div class="item-title">
                            <img class="u26" src="~/images/u30.png" />
                            <a href="@Url.Action("BuyStrategyList")">服务费记录</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>*@
    </div>
</div>