@{
    ViewBag.Title = "资金分析";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@Html.Partial("_adminMap")
<div class="container-fluid">
    <div class="row-fluid">
        总入账资金:@ViewBag.RechargeAll  总悬赏资金:@ViewBag.QuestionAll  用户获得悬赏资金:@ViewBag.RewardAll 用户购买策略资金 @ViewBag.QuestionStrategyAll
        @*未被领取的悬赏 @ViewBag.UnReward*@
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-signal"></i> </span>
                    <h5>入账资金</h5>
                </div>
                <div class="widget-content">
                    <div class="chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-signal"></i> </span>
                    <h5>悬赏资金</h5>
                </div>
                <div class="widget-content">
                    <div class="chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Matrix_Admin/js/jquery.flot.min.js"></script>
<script src="~/Content/Matrix_Admin/js/jquery.flot.pie.min.js"></script>
<script>

    $.post('@Url.Action("RecordJson")', function (json) {
        console.log(json);
        admin.lineChartByDay(json, "入账资金","的入账资金为", $(".chart:eq(0)"));
    });
    $.post('@Url.Action("RewardJson")', function (json) {
        console.log(json);
        admin.lineChartByDay(json, "悬赏资金", "的悬赏资金为", $(".chart:eq(1)"));
    });
</script>
