@{
    ViewBag.Title = "已被处理的谜题";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<style>
    .imgbox {
        max-width: 100px;
        max-height: 150px;
    }

    td a {
        cursor: pointer;
    }

    .linkbox {
        padding: 10px;
    }

        .linkbox a {
            color: #e9967a;
        }
</style>
@model IEnumerable<Niqiu.Core.Domain.Questions.Question>
@Html.Partial("_adminMap")
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>@ViewBag.Title</h5>

        </div>
        <div class="widget-content nopadding">
            <div class="linkbox">
                <a href="@Url.Action("RQs")">已被处理的谜题</a>
                <a href="@Url.Action("RUsers")">已被处理的用户</a>
            </div>

            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th>题目</th>
                        <th>发布人</th>
                        <th>谜题状态</th>
                        <th>发布时间</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.User.Username</td>
                            <td>
                                @if (item.IsIllegal)
                                {
                                    <p class="text-danger">判定非法</p>
                                }
                                else
                                {
                                    <p class="text-danger">正常</p>
                                }
                            </td>
                            <td>
                                @item.SimpleTime()
                            </td>
                            <td>
                                <span class="recover btn btn-danger" data-id="@item.Id" >恢复</span>
                                <a href="@Url.Action("Detail","Qs",new{id=item.Id})">详情</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8">
                            总记录:@Model.Count()  
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script src="~/Content/Matrix_Admin/js/jquery.uniform.js"></script>
<script src="~/Content/Matrix_Admin/js/select2.min.js"></script>
<script src="~/Content/Matrix_Admin/js/jquery.dataTables.min.js"></script>
<script src="~/Content/Matrix_Admin/js/matrix.tables.js"></script>

<script>
    $(".recover").click(function() {
        var id = $(this).data("id");
        $.post('@Url.Action("SetQuestion")', { id: id, isillegal: false }, function() {
            toastr.info("处理成功,谜题状态已恢复");
            admin.delayReload();
        });
    })
</script>