@{
    ViewBag.Title = "好油菜后台管理";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div id="content-header">
    <div id="breadcrumb"><a href="@Url.Action("Index","Home")" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>主页</a></div>
</div>
<div class="container-fluid">
    <div style="padding-top: 20px;">
        <div class="alert alert-success alert-block">
            <a class="close" data-dismiss="alert" href="#">×</a>
              欢迎：@User.Identity.Name  现在时间：@DateTime.Now
        </div>
    </div>
    <div class="quick-actions_homepage">
        <ul class="quick-actions">
            <li class="bg_lo span2"> <a href="@Url.Action("Index","User")"> <i class="icon-user-md"></i><span class="label label-success">@ViewBag.UserCount</span>用户 </a> </li>
            @*<li class="bg_dy span2"> <a href="@Url.Action("Index", "Appointment")"> <i class="icon-time"></i><span class="label label-primary">@ViewBag.Appointments</span>预约 </a> </li>
            <li class="bg_lb span2"> <a href="@Url.Action("TestPapers","Exam")"> <i class="icon-edit"></i><span class="label label-info">@ViewBag.TestPapers</span>试卷 </a> </li>
            <li class="bg_ls span2"> <a href="@Url.Action("Questions","Exam")"> <i class=" icon-list-ol"></i><span class="label label-info">@ViewBag.Questions</span>题库 </a> </li>
            <li class="bg_lr span2"> <a href="@Url.Action("Index", "Course")"> <i class="icon-play"></i><span class="label label-success">@ViewBag.Courses</span>课程 </a> </li>
            <li class="bg_ly span2"> <a href="@Url.Action("PhotoList", "Photo")"> <i class="icon-camera"></i><span class="label label-success">@ViewBag.Photos</span>随手拍 </a> </li>
            <li class="bg_lv span2"> <a href="@Url.Action("FoundLostList", "Photo")"> <i class="icon-hand-up"></i><span class="label label-success">@ViewBag.FoundLostLists</span>失物招领 </a> </li>*@
        </ul>
    </div>
</div>


<script>
        $(function() {
            $("#home").addClass("active");
        });
</script> 