@{
    ViewBag.Title = "评论管理";
    Layout = "~/Views/Shared/_Admin.cshtml";
    
}
@Html.Partial("_adminMap")
@model IEnumerable<Niqiu.Core.Domain.Questions.Comment>

<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>@ViewBag.Title</h5>

        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="title-checkbox" name="title-checkbox" />全选</th>
                        <th>序号</th>
                        <th>谜题标题</th>
                        <th>评论内容</th>
                        <th>评论人</th>
                        <th>时间</th>
                        @*<th>操作</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><input data-id="@item.Id" type="checkbox" /></td>
                            <td>@item.Id</td>
                            <td>@item.Question.Title</td>
                            <td>@Html.Raw(item.Content)</td>
                            <td>@item.User.Username</td>
                            <td>
                                @item.SimpleTime()
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8">
                            总记录:@Model.Count() <a class="deleta btn btn-danger">批量删除</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script>
    $(".deleta").click(function () {
        admin.deleteItems(null, '@Url.Action("DeleteComment")');
    });
</script>