@{
    ViewBag.Title = "谜题管理";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@model IEnumerable<Niqiu.Core.Domain.Questions.Question>

@Html.Partial("_adminMap")
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>@ViewBag.Title</h5>

        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="title-checkbox" name="title-checkbox" />全选</th>
                        <th>序号</th>
                        <th>题目</th>
                        <th>作者</th>
                        <th>谜题状态</th>
                        <th>浏览数</th>
                        <th>分享数</th>
                        <th>回答数</th>
                        <th>评论数</th>
                        <th>获奖数</th>
                        <th>点赞数</th>
                        <th>悬赏金额</th>
                        <th>剩余奖金</th>
                        <th>是否经典</th>
                        <th>发布时间</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><input data-id="@item.Id" type="checkbox" /></td>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td>@item.User.Username</td>
                            <td>
                                @if (item.IsFinished)
                                {
                                    <span>已关闭</span>
                                }
                                else
                                {
                                    <span>进行中</span>

                                    if (item.IsEnd())
                                    {
                                        <span>已超时</span>
                                    }
                                }


                            </td>
                            <td>@item.VisitCount</td>
                            <td>@item.Shareds.Count</td>
                            <td>@item.Answers.Count</td>
                            <td>@item.CommentNum</td>
                            <td>
                                @if (item.RewardUsers.Count < item.RewardPeopleNum)
                                {
                                    <span>@item.RewardUsers.Count</span>
                                }
                                else
                                {
                                    <span>@item.RewardPeopleNum</span>

                                }
                            </td>
                            <td>@item.PraisesNum</td>
                            <td>@item.Reward</td>
                            <td>@item.RemanidReward</td>
                            <td class="classicalcheck" data-id="@item.Id">@Html.CheckBoxFor(n=>item.IsClassical)</td>
                            <td>
                                @item.CreateTime
                            </td>
                            <td>
                                <a href="@Url.Action("Detail",new{id=item.Id})">详情</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="14">总记录:@Model.Count() <a class="btn btn-danger">删除</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script src="~/Content/Matrix_Admin/js/jquery.uniform.js"></script>
<script src="~/Content/Matrix_Admin/js/select2.min.js"></script>
<script src="~/Content/Matrix_Admin/js/jquery.dataTables.min.js"></script>
<script src="~/Content/Matrix_Admin/js/matrix.tables.js"></script>

<script>
    $(".btn-danger").click(function() {
        admin.deleteItems(null, '@Url.Action("Delete")');
    });
    $("table").on("click", ".classicalcheck input[type='checkbox']", function() {
        var id = $(this).parents("td").data("id");
        $.post('@Url.Action("SetClassicalQuestion")',{id:id},function() {
            success();
        });

    });




</script>
